body {
    margin: 0 auto;
    background-image: url("../images/loginPhoto.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 720px;
}
.container {
    width: 500px;
    height: 400px;
    text-align: center;
    background-color: rgba(52,73,94,0.5);
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 150px;    
}

input[type="text"], input[type="password"] {
    height: 45px;
    width: 300px;
    font-size: 15px;
    margin-bottom: 20px;
    background-color: #fff;
}

.btn-login {
    height: 45px;
    padding: 15px 30px;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #2ECC71;
    border-bottom: 4px solid #27AE60;
    margin-bottom: 20px;
}

p {
    color: #fff;
}
/*
.input group label {
    display: black;
    text-align: left;
    margin: 3px;
}

.input-group input{
    height: 30px;
    width: 80%;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.btn {
    height: 40px;
    width: 180px;
    margin-top: 30px;
    margin-left: 85px;
    border-radius: 10px;
    background-color: lightblue;
}

.myForm { 
     height: 540px;
     width: 350px;
     background-color: grey;
     margin-left: 500px;
     margin-top: 40px;
     opacity: 0.8;
     border: 1px solid #000000;
     border-radius: 0px 0px 10px 10px;
     margin: 0px auto;
     padding: 20px;
} */